<html>
    <head>
        <title>$title$</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- TODO: stylesheet link -->
    </head>

    <body>
        <header>
            <h1>WarmCyan</h1>
            <hr />
        </header>

        $if(toc)$
        <nav id="$idprefix$TOC" role="doc-toc">
        $if(toc-title)$
        <h2 id="$idprefix$toc-title">$toc-title$</h2>
        $endif$
        $table-of-contents$
        </nav>
        $endif$

        <main>
            $body$
        </main>

        <footer>
            $if(backlinks)$
            <h3>Backlinks</h3>
            <ul>
            $for(backlinks)$
            <li><a href="$backlinks.url$.html">$backlinks.name$</a></li>
            $endfor$
            </ul>
            $endif$
        </footer>
    </body>
</html>
