<!DOCTYPE html>
<html>
    <head>
        <title>$title$</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="$res_path$/style.css" />
        <link rel="stylesheet" href="$res_path$/code-syntax-hl.css" />
    </head>

    <body>
        <header>
            <h1><a href='$index_path$.html'><span style='color: #AA6633; font-family: baskerville; font-size: 35px;'>Warm</span><span style='font-family: victor-mono; color: #8DD;'>Cyan</span></a></h1>

            $if(toc)$
            <label id='nav-hamburger-icon' for="nav-hamburger">
                <svg viewBox="0 0 100 80" width="40" height="40">
                    <rect width="80" height="12"></rect>
                    <rect y="30" width="80" height="12"></rect>
                    <rect y="60" width="80" height="12"></rect>
                </svg>
            </label>
            <input type="checkbox" id="nav-hamburger" checked />
            <aside id='menu-toc'>
                <nav class="TOC" role="doc-toc">
                <h3>Contents</h3>
                $table-of-contents$
                </nav>
            </aside>
            $endif$
            
            <hr class='fancy-hr' />
        </header>

        <div id='container'>
            $if(toc)$
            <nav id="inpage-toc" class="TOC" role="doc-toc">
            <h3>Contents</h3>
            $table-of-contents$
            </nav>
            $endif$

            <main>
                $body$
            </main>
        </div>

        <footer>
            <hr class='fancy-hr' />
            
            <div class='sideways-align'>
                <p class='backlinks-list'>
                $if(backlinks)$
                <b>Backlinks: </b>
                $for(backlinks)$
                <a href="$backlinks.url$.html">$backlinks.name$</a>&nbsp;|&nbsp;
                $endfor$
                $endif$
                </p>

                <p class='time-edit'>Edited: $edit_time$</p>
            </div>
        </footer>
    </body>
</html>
